@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600&display=swap');

ul {
  padding: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

li {
  list-style: none;
}

* {
  font-family: 'Roboto Slab', serif;
}

.container {
  background-color: #f5f6fa;
}

.container-flex {
  display: flex;
}

.container-flex-col {
  display: flex;
  flex-direction: column;
}
